option:first-child {
	display: none;
}

table {
	font-size: 1.1em;
}

th, td {
	padding: 5pt 10pt;
}

.score_label {
	text-align: right;
	font-weight: bold;
}

.rank_outof {
	color: #b3b3b3;
	font-size: 0.7em;
}

.rank_outof:before {
	content: " ";
}

.score_col {
	padding-left: 20pt;
}

.score_range {
	color: #b3b3b3;
	font-size: 0.7em;
}

.score_range:before {
	content: " ";
}

#row_overall {
	border: 1px solid transparent;
	border-color: rgba(0, 0, 0, 0.1) transparent rgba(0, 0, 0, 0.1) transparent;
	color: #4d4dff;
}

#row_community {
	color: #dc143c;
}

#row_education {
	color: #ff8c00;
}

#row_health {
	color: #36013f;
}

#row_independence {
	color: #228b22;
}

#row_policy {
	color: #5c4033;
}

#responses {
	margin-top: 2em;
}

.question_wrapper {	
	margin: 0 4em;
}

.comm {
	border-left: 6px solid #dc143c;
}

.edu {
	border-left: 6px solid #ff8c00;
}

.policy {
	border-left: 6px solid #5c4033;
}

.health {
	border-left: 6px solid #36013f;
}

.indep {
	border-left: 6px solid #228b22;
}

.question {
	margin: 0 0 0 0.5em;
	font-weight: bold;
}

.response {
	margin: 0.5em 4em 1em 4em;
}

.scale {
	margin: 0.25em 4.44em 0 4.44em;
	font-style: italic;
	color: gray;
	font-size: 0.9em;
}

.response_unanswered {
	font-style: italic;
	color: gray;
}



@media print {
	
}



@media only screen and (max-width: 600px) {
	
}