option:first-child {
	display: none;
}

table {
	font-size: 1.1em;
}

th, td {
	padding: 5pt 10pt;
}

.score_label {
	text-align: right;
	font-weight: bold;
}

.rank_outof {
	color: #b3b3b3;
	font-size: 0.7em;
}

.rank_outof:before {
	content: " ";
}

.score_col {
	padding-left: 20pt;
}

.score_range {
	color: #b3b3b3;
	font-size: 0.7em;
}

.score_range:before {
	content: " ";
}

#row_overall {
	border: 1px solid transparent;
	border-color: rgba(0, 0, 0, 0.1) transparent rgba(0, 0, 0, 0.1) transparent;
	color: #4348db;
}

#row_community {
	color: #2a8aa9;
}

#row_education {
	color: #30a92a;
}

#row_health {
	color: #d07c31;
}

#row_independence {
	color: #c1231e;
}

#row_policy {
	color: #b437af;
}

#responses {
	margin-top: 2em;
}

.question_wrapper {	
	margin: 0 4em;
}

.comm {
	border-left: 6px solid #2a8aa9;
}

.edu {
	border-left: 6px solid #30a92a;
}

.health {
	border-left: 6px solid #d07c31;
}

.indep {
	border-left: 6px solid #c1231e;
}

.policy {
	border-left: 6px solid #b437af;
}

.question {
	margin: 0 0 0 0.5em;
	font-weight: bold;
}

.response {
	margin: 6pt 48pt 3pt 48pt;
}

.response_note {
	margin: 0pt 48pt 12pt 48pt;
	font-style: italic;
	font-size: 0.9em;
}

.scale {
	margin: 0.25em 4.44em 0 4.44em;
	font-style: italic;
	color: gray;
	font-size: 0.9em;
}

.response_unanswered {
	font-style: italic;
	color: gray;
}



@media print {
	
}



@media only screen and (max-width: 600px) {
	
}