body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

header {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 2;
	color: white;
	background-color: #0000cc;
	clear: left;
	text-align: center;
	font-weight: bold;
}

.droprest {
	display: none;
	position: absolute;
	top: 46px;
	color: white;
	background-color: #0000cc;
	text-align: inherit;
	font-weight: inherit;
	padding: inherit;
}

.dropdown:hover .droprest {
	display: block;
}

.droprest:hover {
	color: black;
	background-color: #f1f1f1;
}

.dropmain, .droprest {
	margin: 0;
	padding: 14px 16px;
}

.dropmain:not(:hover) {
	color: white;
	background-color: #0000cc;
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	color: white;
	background-color: #0000cc;
	clear: left;
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
}

h1 { 
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-top: 1.17em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h3 { 
	display: block;
	font-size: 1.25em;
	margin-top: 1em;
	margin-bottom: 0.8em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h4 { 
	display: block;
	font-size: 1.1em;
	margin-top: 1.66em;
	margin-bottom: 0em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h5 { 
	display: block;
	font-size: 1em;
	margin-top: 2.0em;
	margin-bottom: 0em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h6 { 
	display: block;
	font-size: .83em;
	margin-top: 2.66em;
	margin-bottom: 0em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

a {
	cursor: pointer;
}

div {
	margin-bottom: 5px;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	margin-left: 6pt;
	margin-right: 6pt;
}

ul.menu li {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	float: left;
	display: inline;
	text-align: center;
	color: white;
}

header ul.menu li {
	padding: 14px 16px;
}

footer ul.menu li {
	padding: 10px 16px;
}

ul.menu li:hover:not(.active) {
	background-color: #e6e6ff;
	color: #0000cc;
}

ul.menu li.noclick:hover {
	color: white;
	background-color: #0000cc;
	cursor: default;
}

ul.menu li.homeclick:hover {
	color: #0000cc;
	background-color: #ffff00;
}

ul.menu li.active {
	background-color: white;
	color: #000099;
}

article {
	display: inline-block;
	position: fixed;
	margin: 0px;
	padding: 0px 28px;
	top: 46px;
	bottom: 32px;
	width: calc(100% - 28px);
	overflow: auto;
	scroll-behavior: smooth;
}

.center{
	text-align: center;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 16em;
	background-color: black;
	color: #fff;
	font-weight: normal;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 105%;
	left: 15px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

#input {
	margin-top: 30px;
	margin-bottom: 15px;
}

#input td {
	text-align: left;
	padding: 3px;
}

#input td:first-child {
	text-align: right;
}

table {
	display: inline-block;
	border-collapse: collapse;
}

table input[type="text"] {
	width: 3em;
	text-align: right;
	font-size: 12pt;
}

td {
	padding: 4px 4px;
}

select {
	background-color: #ccccff;
	font-weight: bold;
	font-size: 1.25em;
	padding: 8px 16px;
	border: 1px solid transparent;
	cursor: pointer;
}

dt {
	font-weight: bold;
	padding-top: 6pt;
	padding-left: 1em;
}

dt:first-child {
	padding-top: 0pt;
}



@media print{
	header {
		display: none;
	}

	footer {
		display: none;
	}

	article {
		display: block;
		position: static;
		top: 0px;
		bottom: 0px;
	}
}



@media only screen and (max-width: 600px) {
	header {
		font-size: 24pt;
	}

	footer {
		font-size: 20pt;
	}

	article {
		top: 195px;
	}

	header ul.menu li {
		width: 100%;
	}

	td {
		font-size: 2.5em;
	}
}