article {
	margin: 0px;
	padding: 0px 28px;
/*	height: 100%;*/
/*	max-width: calc(100% - 2*28px);*/
	max-height: 90%;
	overflow: auto;
}

#selection {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	padding: 6pt 0;
}

#dataset_label, #category_label {
	font-size: 1.25em;
}

#map {
	margin: auto;
	/*max-height: calc(100% - (4*16px + 12pt + 8pt));*/
}

#map_legend {
	z-index: 1 !important;
	left: 3% !important;
	bottom: 25% !important;
	padding: 0.4em 0em 0.3em 0.3em !important;
	line-height: 1em !important;
	background-color: rgba(255,255,255,0.8) !important;
	pointer-events: none !important;
}

#map_legend ul {
	font-size: 10pt;
}

#map_legend ul li {
	float: left;
	clear: left;
	padding: 0.2em 0;
}

#map_legend ul li svg {
	scale: 150%;
}

.description_overall {
	color: #4d4dff;
}

.description_community {
	color: #dc143c;
}

.description_edu {
	color: #ff8c00;
}

.description_health {
	color: #36013f;
}

.description_indep {
	color: #228b22;
}

.description_policy {
	color: #5c4033;
}




@media print {
	
}



@media only screen and (max-width: 600px) {
	
}